DB_NAME=antigrabiti_db
DB_USER=antigrabiti_user
DB_PASSWORD=supersecurepassword
DB_HOST=db
DB_PORT=5432

EXTERNAL_DB_NAME=venado_erp
EXTERNAL_DB_USER=erp_user
EXTERNAL_DB_PASSWORD=erppassword
EXTERNAL_DB_HOST=192.168.1.100
EXTERNAL_DB_PORT=5432

SECRET_KEY=generate_a_secure_random_key_here
DEBUG=True

FIREBASE_CREDENTIALS=config/firebase-adminsdk.json
GRAPHQL_ENDPOINT=https://api.venado.com/graphql
